body {
	position: absolute;
	color: blue;
	background-image: url('MakingDinner.jpg');
	<! background-color: #99004d; >
	background-size: 2000px;
	border: 6px solid black;
	width: 300px;
	left: 300px;
	top: 450px;
	font-size: 90px;
	font-family: sans-serif;
	text-align: right;
	margin-bottom:  200px;
}

img{
	position: fixed;
	top: 0px;
	right:0px;
	width: 800px;
	opacity: .9;
	border-radius: 100px 400px 100px 100px;
	z-index: -1;
}

.poem2 h1 {
color: mediumblue;
padding-top: 1200px;
}

.two {
	border: none;
}
.soap {
	width: 600px;
	top: 0px;
	left: 500px;
	opacity: .7;
	border-radius: 400px;
	float: right;
}
.soap2 {
	width:1300px;
	bottom: 0px;
	top: auto;
}
.soapstudy {
	border-radius: 600px;
	right: 0px;
	z-index: -1;
	width: 300px;
	float: right;
	opacity: .8;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.site-header {
	background: #abcabc;
	padding: 10px 5%;
	box-shadow: 0 1px 3px orange;
}

.site-header h1 {
	margin: 0;
	padding: 10px;
	text-align: center;
}

.main-nav ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0 0;
}

.main-nav ul li {
	display: inline;
	font-size: 130px;
}

.main-nav ul li a {
	text-decoration: none;
}

.about {
	text-align: center;
	background: #abcabc;
	padding: 60px;
}

.about h2 {
	margin-top: 0;
}

.fragment {
	color: mediumblue;
	font-size: 50px;
	width: 800px;
	text-align: left;
	text-shadow: 1px 1px lightblue;
}

.main-col {
	float: left;
	width: 70%;
}

.side-col {
	float: right;
	width: 25%;
	padding: 5% 20px;
}

.column-wrapper {  
	width: 90%;
	margin: 0 auto;
}

.main-footer {
	padding: 40px 5%;
	background: #abcabc;
}

.main-nav li + li{

margin-left: 10px;
}

.poem-footer {
	display: inline;
	
}

.poem-footer ul {
	list-style-type: none;
	text-align: right;
}

video {
	width: 1200px;
}

.space {
	height: 1200px
	;
}

.photo1 {
	width: 1000px;
	boder: 6px solid orange;
	opacity: 1;
	position: absolute;
	left: 0px;
	top: -400px;
}

.photo2 {
	width: 1000px;
	boder: 6px solid orange;
	opacity: 1;
	position: absolute;
	left: 0px;
	top: 1300px;
}

.photo3 {
	width: 1000px;
	boder: 6px solid orange;
	opacity: 1;
	position: absolute;
	left: 0px;
	top: 2100px;
}

.love {
	color: #00acab;
}
a:visited {
color:  darkblue;
}

a:active {
	color: blue;
}

a:hover {
	font-size:  140%;
#lauren2 {
	top:  1000px;
}
.margaret2 {
	width: 1000px;
	boder: 6px solid orange;
	opacity: 1;
	position: absolute;
	left: 0px;
	top: 400px;
}
